<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        .body {
            margin: 0;
            padding: 0;
        }
        .header {
            width: 100%;
            padding: 0 0 10px 0;
            margin: 0 0 30px 0;
            box-sizing: border-box;
        }
        .header img {
            width: 100%;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0;
            padding: 0;
            object-fit: contain;
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="{{ banner_base64 }}" alt="Banner" style="max-height: 100px;">
    </div>
</body>
</html>
